---
import ServicesCard from './ServicesCard.svelte'
---

<section id="hizmetler" class="lg:mt-[100px]">
	<div class="mx-auto max-w-7xl px-3">
		<div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:gap-12">
			<ServicesCard
				title="Teşhis Tedavi Aşı"
				description="Farklı türlerdeki evcil hayvanlarınızın sağlık ihtiyaçlarını titizlikle ele alıyor ve profesyonel teşhis, etkili tedavi ve gerekli aşıları sağlayarak onların sağlıklı bir yaşam sürmelerini destekliyoruz."
				image="/assets/images/services/tedavi-asi.jpg"
				link="/hizmetlerimiz/teshis"
			/>
			<ServicesCard
				title="Cerrahi Müdahaleler"
				description="Deneyimli cerrahlarımız, tüm cerrahi prosedürlerimiz sırasında size ve evcil hayvanınıza iyi bakıldığından emin olmak için buradalar."
				image="/assets/images/services/surgery.jpg"
				link="/hizmetlerimiz/cerrahi"
			/>
			<ServicesCard
				title="Doğum"
				description="Doğum öncesi, doğum sırası ve doğum sonrası süreçlerde evcil hayvanınızın sağlığını korumak için buradayız."
				image="/assets/images/services/dogum.jpg"
				link="/hizmetlerimiz/dogum"
			/>
			<ServicesCard
				title="Dahiliye"
				description="Evcil hayvanınızın iç hastalıkları konusunda uzman veteriner hekimlerimiz, en iyi tedaviyi sunmak için buradalar."
				image="/assets/images/services/dahiliye.jpg"
				link="/hizmetlerimiz/dahiliye"
			/>
			<ServicesCard
				title="Laboratuvar"
				description="Laboratuvarımızda, evcil hayvanınızın sağlık durumunu değerlendirmek için gerekli tüm testleri yapabiliriz."
				image="/assets/images/services/laboratuar.jpg"
				link="/hizmetlerimiz/laboratuvar"
			/>
			<ServicesCard
				title="Röntgen"
				description="Röntgen cihazımızla, evcil hayvanınızın iç yapısını inceleyebilir ve teşhis koymak için gerekli tüm bilgilere ulaşabiliriz."
				image="/assets/images/services/rontgen.jpg"
				link="/hizmetlerimiz/rontgen"
			/>
			<ServicesCard
				title="Ultrason"
				description="Ultrason cihazımızla, evcil hayvanınızın iç yapısını inceleyebilir ve teşhis koymak için gerekli tüm bilgilere ulaşabiliriz."
				image="/assets/images/services/ultrason.jpg"
				link="/hizmetlerimiz/ultrason"
			/>
			<ServicesCard
				title="Diş bakımı ve detertaj"
				description="Evcil hayvanınızın ağız ve diş sağlığı için gerekli tüm bakım ve tedavileri ayrıca detertaj işlemlerini gerçekleştiriyoruz."
				image="/assets/images/services/agiz-bakimi.jpg"
				link="/hizmetlerimiz/detertaj"
			/>
			<ServicesCard
				title="EKG"
				description="Evcil hayvanınızın kalp sağlığını değerlendirmek ve potansiyel kalp problemlerini teşhis etmek için düzenli EKG testleri yapılması önemlidir."
				image="/assets/images/services/ekg.jpg"
				link="/hizmetlerimiz/ekg"
			/>
		</div>
	</div>
</section>

<style></style>
