---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy" slug='hizmetlerimiz/dahiliye'>
	<main class="mb-[100px]">
		<section id="intro-cerrahhi" class="mb-[50px] pt-[50px] lg:pt-[155px]">
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">Dahiliye</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<section id="cerrahhi" class="container mx-auto max-w-7xl xlMax:px-3">
			<div class="space-y-6">
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Dahiliye: Evcil Hayvanınızın İç Sağlığını Korumak
					</h2>
					<p class="text-base">
						Dahiliye, evcil hayvanınızın iç organlarının ve sistemlerinin sağlığını ve
						hastalıklarını teşhis ve tedavi eden veterinerlik uzmanlık alanıdır. Dahiliye
						uzmanlarımız, evcil hayvanınızın genel sağlığını korumak ve hastalıkları erken tespit
						etmek ve tedavi etmek için kapsamlı sağlık hizmetleri sunmaktadır.
					</p>
				</div>

				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Dahiliye Hizmetleri</h2>
					<p class="text-base">Dahiliye hizmetlerimiz şunları içerir:</p>
					<ul class="list-disc pl-6 text-base">
						<li>
							<strong>Kapsamlı fizik muayeneler</strong>: Veterinerimiz, evcil hayvanınızın genel
							sağlığını değerlendirmek için kapsamlı bir fizik muayene yapacaktır.
						</li>
						<li>
							<strong>Laboratuvar testleri</strong>: Kan testleri, idrar testleri ve diğer
							laboratuvar testleri, evcil hayvanınızın iç organlarının sağlığını değerlendirmek için
							kullanılabilir.
						</li>
						<li>
							<strong>Görüntüleme teknikleri</strong>: Röntgen, ultrason ve diğer görüntüleme
							teknikleri, evcil hayvanınızın iç organlarını görselleştirmek ve anormallikleri tespit
							etmek için kullanılabilir.
						</li>
						<li>
							<strong>Hastalık yönetimi</strong>: Dahiliye uzmanlarımız, kalp hastalığı, böbrek
							hastalığı, karaciğer hastalığı ve diğer kronik hastalıkların yönetiminde
							uzmanlaşmıştır.
						</li>
						<li>
							<strong>Acil bakım</strong>: Evcil hayvanınız akut bir hastalık veya yaralanma
							yaşarsa, dahiliye uzmanlarımız acil bakım sağlayacaktır.
						</li>
					</ul>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Dahiliye Uzmanları</h2>
					<p class="text-base">
						Dahiliye uzmanlarımız, evcil hayvanların iç sağlığı konusunda ileri düzeyde eğitim ve
						deneyime sahiptir. Uzmanlarımız, evcil hayvanınızın özel ihtiyaçlarını karşılamak için
						kişiselleştirilmiş tedavi planları geliştirecektir.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Dahiliye Bakımının Önemi</h2>
					<p class="text-base">
						Dahiliye bakımı, evcil hayvanınızın genel sağlığını korumak ve hastalıkları erken tespit
						etmek ve tedavi etmek için çok önemlidir. Dahiliye muayeneleri, evcil hayvanınızın iç
						organlarının sağlığını izlemek ve potansiyel sorunları erken tespit etmek için düzenli
						olarak yapılmalıdır. Evcil hayvanınızın iç sağlığıyla ilgili herhangi bir sorunuz veya
						endişeniz varsa, lütfen dahiliye uzmanlarımıza danışın. Evcil hayvanınıza en iyi bakımı
						sağlayacak ve uzun ve sağlıklı bir yaşam sürmesine yardımcı olacağız.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
