---
import Layout from '../../layouts/Layout.astro'
import Services from '../../components/Services/index.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy">
	<main class="mb-[100px]">
		<section id="intro-hizmetlerimiz" class="pt-[50px] lg:pt-[155px]">
			
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">
					Veteriner Hizmetlerimiz
				</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<Services />
	</main>
</Layout>
