---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy">
	<main class="mb-[100px]">
		<section id="intro-cerrahhi" class="mb-[50px] pt-[50px] lg:pt-[155px]">
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">Laboratuvar</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<section id="cerrahhi" class="container mx-auto max-w-7xl xlMax:px-3">
			<div class="space-y-6">
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Laboratuvar: Evcil Hayvanınızın Sağlığını Anlamak İçin Temel Bir Araç
					</h2>
					<p class="text-base">
						Laboratuvarımız, evcil hayvanınızın sağlığını değerlendirmek ve hastalıkları teşhis
						etmek için kullanılan en son teknolojiye sahiptir. Veteriner teknisyenlerimiz, kan
						testleri, idrar testleri ve diğer laboratuvar testlerini doğru ve verimli bir şekilde
						gerçekleştirmek için eğitilmiştir.
					</p>
				</div>

				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Laboratuvar Hizmetleri</h2>
					<p class="text-base">Laboratuvar hizmetlerimiz şunları içerir:</p>
					<ul class="list-disc pl-6 text-base">
						<li>
							<strong>Kan testleri</strong>: Kan testleri, evcil hayvanınızın genel sağlığını
							değerlendirmek, hastalıkları teşhis etmek ve tedaviyi izlemek için kullanılabilir.
						</li>
						<li>
							<strong>İdrar testleri</strong>: İdrar testleri, evcil hayvanınızın böbrek ve idrar
							yolu sağlığını değerlendirmek için kullanılabilir.
						</li>
						<li>
							<strong>Fekal testler</strong>: Fekal testler, evcil hayvanınızın bağırsak
							parazitlerini tespit etmek için kullanılabilir.
						</li>
						<li>
							<strong>Sitolojik incelemeler</strong>: Sitolojik incelemeler, hücrelerin mikroskop
							altında incelenmesini içerir ve kanser gibi hastalıkların teşhisine yardımcı olabilir.
						</li>
						<li>
							<strong>Histopatolojik incelemeler</strong>: Histopatolojik incelemeler, dokuların
							mikroskop altında incelenmesini içerir ve hastalıkların kesin teşhisini sağlamaya
							yardımcı olabilir.
						</li>
					</ul>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Laboratuvar Sonuçlarının Yorumlanması
					</h2>
					<p class="text-base">
						Laboratuvar sonuçları, evcil hayvanınızın sağlığı hakkında değerli bilgiler
						sağlayabilir. Veterineriniz, laboratuvar sonuçlarını yorumlayacak ve evcil hayvanınız
						için en iyi tedavi planını önerecektir.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Laboratuvar Bakımının Önemi
					</h2>
					<p class="text-base">
						Laboratuvar bakımı, evcil hayvanınızın sağlığını değerlendirmek ve hastalıkları erken
						tespit etmek ve tedavi etmek için çok önemlidir. Laboratuvar testleri, evcil
						hayvanınızın iç organlarının sağlığını izlemek, enfeksiyonları tespit etmek ve tedaviye
						nasıl yanıt verdiğini izlemek için kullanılabilir. Evcil hayvanınızın sağlığıyla ilgili
						herhangi bir sorunuz veya endişeniz varsa, lütfen laboratuvar hizmetlerimizden
						yararlanın. Evcil hayvanınıza en iyi bakımı sağlayacak ve uzun ve sağlıklı bir yaşam
						sürmesine yardımcı olacağız.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
