---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy">
	<main class="mb-[100px]">
		<section id="intro-cerrahhi" class="mb-[50px] pt-[50px] lg:pt-[155px]">
			
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">Röntgen</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<section id="cerrahhi" class="container mx-auto max-w-7xl xlMax:px-3">
			<div class="space-y-6">
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Röntgen</h2>
					<p class="text-base">
						Röntgen, evcil hayvanınızın iç yapılarını görselleştirmek için kullanılan bir
						görüntüleme tekniğidir. Veteriner radyologlarımız, evcil hayvanınızın kemiklerini,
						organlarını ve diğer dokularını değerlendirmek için röntgen kullanır.
					</p>
				</div>

				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Röntgen Hizmetleri</h2>
					<p class="text-base">Röntgen hizmetlerimiz şunları içerir:</p>
					<ul class="list-disc pl-6 text-base">
						<li>
							<strong>Ortopedik röntgenler</strong>: Ortopedik röntgenler, evcil hayvanınızın
							kemiklerini ve eklemlerini değerlendirmek için kullanılır. Kırıklar, çıkıklar ve diğer
							ortopedik sorunları teşhis etmeye yardımcı olabilirler.
						</li>
						<li>
							<strong>Toraks röntgenleri</strong>: Toraks röntgenleri, evcil hayvanınızın göğsünü ve
							akciğerlerini değerlendirmek için kullanılır. Zatürre, kalp hastalığı ve diğer torasik
							sorunları teşhis etmeye yardımcı olabilirler.
						</li>
						<li>
							<strong>Karın röntgenleri</strong>: Karın röntgenleri, evcil hayvanınızın karın
							bölgesini değerlendirmek için kullanılır. Bağırsak tıkanıklığı, tümörler ve diğer
							karın sorunlarını teşhis etmeye yardımcı olabilirler.
						</li>
					</ul>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Röntgen Prosedürü</h2>
					<p class="text-base">
						Röntgen prosedürü genellikle hızlı ve ağrısızdır. Evcil hayvanınız röntgen masasına
						yerleştirilecek ve veteriner teknisyeni röntgen cihazını kullanarak görüntüler
						alacaktır.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Röntgen Sonuçlarının Yorumlanması
					</h2>
					<p class="text-base">
						Röntgen sonuçları, evcil hayvanınızın sağlığı hakkında değerli bilgiler sağlayabilir.
						Veteriner radyologunuz, röntgen sonuçlarını yorumlayacak ve evcil hayvanınız için en iyi
						tedavi planını önerecektir.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Röntgen Bakımının Önemi</h2>
					<p class="text-base">
						Röntgen bakımı, evcil hayvanınızın sağlığını değerlendirmek ve hastalıkları erken tespit
						etmek ve tedavi etmek için çok önemlidir. Röntgenler, evcil hayvanınızın kemiklerini,
						organlarını ve diğer dokularını görselleştirerek, veterinerinizin doğru bir teşhis
						koymasına ve uygun tedaviyi önermesine yardımcı olabilir. Evcil hayvanınızın sağlığıyla
						ilgili herhangi bir sorunuz veya endişeniz varsa, lütfen röntgen hizmetlerimizden
						yararlanın. Evcil hayvanınıza en iyi bakımı sağlayacak ve uzun ve sağlıklı bir yaşam
						sürmesine yardımcı olacağız.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
