---
import { Image } from '@unpic/astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy" slug="ekibimiz">
	<main class="mb-[100px]">
		<section id="intro-ekibimiz" class="mb-[50px] pt-[50px] lg:pt-[155px]">
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">Ekibimiz</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<section id="ekibimiz" class="container mx-auto max-w-7xl xlMax:px-3">
			<div class="">
				<Image
					src="/assets/images/ekibimiz/bircan-halicilar.jpg"
					alt="Vet. Hek. Bircan Halıcılar"
					width={600}
					height={600}
					layout="constrained"
					class="lg:max-w-1/2 mx-auto max-h-[600px] lg:float-left lg:w-1/2 lg:pr-6"
				/>

				<div class="lgMax:pt-3">
					<h2 class="text-2xl font-bold tracking-wide text-primary-500">
						Vet. Hek. Bircan Halıcılar
					</h2>
					<div class="space-y-4 lgMax:pt-3">
						<p class="text-base lg:text-justify">
							Vet. Hek. Bircan Halıcılar, hayvan sağlığı ve esenliğine adanmış, deneyimli ve tutkulu
							bir veteriner hekimdir. Selçuk Üniversitesi Veteriner Fakültesi'nden 1998 yılında
							mezun olduktan sonra, küçük hayvan tıbbı alanında kapsamlı bir kariyere başlamıştır.
						</p>
						<p class="text-base lg:text-justify">
							Kariyerinin ilk yıllarında Vet. Hek. Halıcılar, Özsoylar Şirketi'nde Damızlık Müdürü
							olarak çalışmıştır. Bu rolde, damızlık hayvanların sağlığını ve üreme performansını
							yönetmiştir. 2006'dan 2009'a kadar Ankara'daki Kuki Veteriner Kliniği'nde Sorumlu
							Veteriner Hekim olarak görev yapmış ve çeşitli tıbbi ve cerrahi prosedürler
							gerçekleştirmiştir.
						</p>
						<p class="text-base lg:text-justify">
							2009 yılında Vet. Hek. Halıcılar, Ankara'da Eryaman Veteriner Kliniği'ni kurmuştur. Bu
							klinikte, küçük hayvanların tüm yönleriyle tıbbi bakımını sağlamıştır. 2020 yılında
							İzmir'e taşınarak Bircanvet Veteriner Kliniği'ni kurmuş ve hekimlik kariyerine devam
							etmiştir.
						</p>
						<p class="text-base lg:text-justify">
							Vet. Hek. Halıcılar, küçük hayvan tıbbının geniş bir yelpazesinde uzmanlaşmış olup
							özellikle cerrahi, iç hastalıkları ve acil bakım alanlarında yetkinlik göstermektedir.
							Müşterileriyle sağlam ilişkiler kurmayı ve onlara hayvanlarının sağlığı hakkında
							kapsamlı bilgi sağlamayı ilke edinmiştir.
						</p>
						<p class="text-base lg:text-justify">
							Türkiye Veteriner Hekimleri Birliği, Ankara Veteriner Hekimleri Odası ve İzmir
							Veteriner Hekimleri Odası üyesi olan Vet. Hek. Halıcılar, mesleğindeki güncel
							gelişmeleri takip etmektedir.
						</p>
					</div>
				</div>
			</div>
			<div class="mt-16">
				<Image
					src="/assets/images/ekibimiz/ismail-yagcikoseoglu.jpg"
					alt="Vet. Hek. İsmail Yagcikoseoglu"
					width={600}
					height={600}
					class="lg:max-w-1/2 mx-auto max-h-[600px] lg:float-right lg:w-1/2 lg:pl-6"
				/>

				<div class="lg:h-[600px] lgMax:pt-3">
					<h2 class="text-2xl font-bold tracking-wide text-primary-500">
						Vet. Hek. İsmail Yağcıköseoğlu
					</h2>
					<div class="space-y-4 lgMax:pt-3">
						<p class="text-base lg:text-justify">
							İsmail Yağcıköseoğlu, 2013 yılında Uludağ Üniversitesi'nde veteriner hekimliği
							eğitimine başladı.
						</p>
						<p class="text-base lg:text-justify">
							2021 yılında, Orenda Veteriner Kliniği'nde veteriner hekim olarak görev almaya
							başladı.
						</p>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
