---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy" slug='hakkimizda'>
	<main class="mb-[100px]">
		<section id="intro-hakkimizda" class="mb-[50px] pt-[50px] lg:pt-[155px]">
			
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">Hakkımızda</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<section id="hakkimizda" class="container mx-auto max-w-7xl xlMax:px-3">
			<div class="space-y-6">
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Bircanvet Veteriner: Evcil Dostunuzun Sağlıklı ve Mutlu Bir Yaşam İçin Kapsamlı Bakım
					</h2>
					<p class="text-base">
						Bircanvet Veteriner olarak, evcil dostunuzun sağlığı ve mutluluğu bizim önceliğimizdir.
						Modern ve konforlu kliniğimizde, uzman veterinerlerimiz kapsamlı bir veteriner
						hizmetleri yelpazesi sunmaktadır:
					</p>
					<ul class="list-disc pl-6 text-base">
						<li>
							<strong>Aşılama ve Parazit Kontrolü</strong>: Evcil dostunuzu bulaşıcı hastalıklardan
							ve parazitlerden korumak için düzenli aşılama ve parazit kontrolü çok önemlidir.
						</li>
						<li>
							<strong>Hastalık Teşhisi ve Tedavisi</strong>: Evcil dostunuzun hastalanması
							durumunda, doğru teşhis ve etkili tedavi için en son teknolojileri kullanıyoruz.
						</li>
						<li>
							<strong>Cerrahi Müdahaleler</strong>: Küçük cerrahi prosedürlerden karmaşık
							ameliyatlara kadar, evcil dostunuzun ihtiyaç duyduğu tüm cerrahi müdahaleleri
							gerçekleştiriyoruz.
						</li>
						<li>
							<strong>Diş bakımı</strong>: Evcil dostunuzun ağız sağlığı genel sağlığı için çok
							önemlidir. Diş temizliği, diş çekimi ve diğer diş bakımı hizmetleri sunuyoruz.
						</li>
						<li>
							<strong>Beslenme danışmanlığı</strong>: Evcil dostunuzun yaşına, ırkına ve yaşam
							tarzına uygun beslenme planları geliştirmenize yardımcı oluyoruz.
						</li>
						<li>
							<strong>Davranış sorunları yönetimi</strong>: Evcil dostunuzun davranış sorunlarını
							anlama ve yönetme konusunda destek ve rehberlik sağlıyoruz.
						</li>
					</ul>
				</div>

				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Önleyici Bakımın Önemi</h2>
					<p class="text-base">
						Hastalıkları tedavi etmenin yanı sıra, evcil dostlarınızın sağlıklı kalmasını sağlamak
						da bizim için çok önemlidir. Bu nedenle, düzenli kontrolleri teşvik ediyoruz. Erken
						teşhis ve tedavi, uzun vadeli sağlık sorunlarının önlenmesine yardımcı olabilir.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">Sıcak ve Konforlu Ortam</h2>
					<p class="text-base">
						Modern ve konforlu kliniğimizde, uzman veterinerlerimiz size ve sevgili dostlarınıza en
						üst düzey veteriner bakımı ve hizmetini sunmak için bekliyor. Evcil dostunuzun rahat ve
						stressiz bir deneyim yaşamasını sağlamak için her türlü çabayı gösteriyoruz.
					</p>
				</div>
				<div class="space-y-4">
					<h2 class="text-xl font-bold tracking-wide text-primary-500">
						Uzun ve Mutlu Bir Yolculuk
					</h2>
					<p class="text-base">
						Bircanvet'de, evcil dostlarınızın sağlığı ve refahı için size yardımcı olmaktan mutluluk
						duyacağız. Birlikte, evcil dostunuz için uzun ve mutlu bir yolculuğa çıkacağız. Bize
						katılın ve evcil dostunuzun en iyi hayatı yaşaması için bize güvenin.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
