---
import Layout from '../layouts/Layout.astro'
import Images from '../components/Hospital/Images.svelte'
---

<Layout title="Bircan Veteriner Kliniği - İzmir / Örnekköy">
	<main class="mb-[100px]">
		<section id="intro-hastanemiz" class="pt-[50px] lg:mb-[50px] lg:pt-[155px]">
			<!-- <div class="relative">
				<img
					src="/assets/images/hospital/1.jpg"
					alt="Veterinary"
					width={1920}
					height={1280}
					class="h-[500px] w-full object-cover"
				/>
			</div> -->
			<div class="bg-primary-500 py-[67px]">
				<h1 class="text-center text-2xl font-bold tracking-wide text-white">
					Bircan Veteriner Kliniğinimiz
				</h1>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>
			</div>
		</section>
		<Images client:only="svelte" />
	</main>
</Layout>
