---

---

<section id="meet-team" class="relative">
	<div class="mx-auto max-w-5xl px-3 pb-9 lg:pb-16">
		<div class="lg:max-w-2xl lg:pl-3 lgMax:mx-auto lgMax:text-center">
			<h2 class="text-2xl font-bold tracking-wide text-primary-500 lg:pt-16 lg:text-3xl">
				Sevgiyle Bakım, <br />
				<span class="">Güvenle hizmet!</span>
			</h2>
			<p class="mt-6 text-base text-black">
				Ekibimiz, işlerine tutkuyla bağlı, farklı geçmişlere sahip bireylerden oluşmaktadır.
				Müşterilerimize en iyi hizmeti sunmaya adanmış ve becerilerimizi ve bilgilerimizi
				geliştirmenin yollarını sürekli olarak arıyoruz. Müşterilerimize güvenli ve destekleyici bir
				ortam sağlama konusunda kararlıyız ve hizmetlerimizi geliştirmenin yollarını her zaman
				arıyoruz.
			</p>
			<div class="mt-10">
				<a
					href="/"
					class="inline-block rounded-md bg-second-500 px-6 py-3 text-base font-medium uppercase tracking-wide text-white transition-colors duration-300 hover:bg-second-600 hover:text-white"
				>
					Takımımızı Tanıyın
				</a>
			</div>
		</div>
	</div>
	<div class="bg-dog lg:h-[500px] lg:w-7/12"></div>
	<div class="bg-dog-mobile"></div>
	<div class="custom-shape-divider-bottom-1707657061 mt-[-30px]">
		<svg
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 120"
			preserveAspectRatio="none"
		>
			<path d="M1200 0L0 0 1200.25 114.72 1200 0z" class="shape-fill"></path>
		</svg>
	</div>

	<div class="custom-shape-divider-bottom-1707657062 mt-[-30px]">
		<svg
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 120"
			preserveAspectRatio="none"
		>
			<path d="M1200 0L0 0 1200.25 114.72 1200 0z" class="shape-fill-2"></path>
		</svg>
	</div>
</section>

<style>
	@media screen and (min-width: 1024px) {
		.bg-dog {
			background-image: url('/assets/images/background/cutest-dog.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 20px;
			right: 0;
			z-index: -1;
			opacity: 0.9;
		}
	}
	@media screen and (max-width: 1023px) {
		.bg-dog-mobile {
			background-image: url('/assets/images/background/dog-nose.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 280px;
		}
	}
	.custom-shape-divider-bottom-1707657061 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
		z-index: 1;
	}

	.custom-shape-divider-bottom-1707657061 svg {
		position: relative;
		display: block;
		width: calc(130% + 1.3px);
		height: 50px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-bottom-1707657061 .shape-fill {
		fill: #002a5c;
	}

	.custom-shape-divider-bottom-1707657062 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
		z-index: 0;
	}

	.custom-shape-divider-bottom-1707657062 svg {
		position: relative;
		display: block;
		width: calc(130% + 1.3px);
		height: 70px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-bottom-1707657062 .shape-fill-2 {
		fill: #01b2a0;
	}
</style>
