---

---

<section id="services" class="relative">
	<div class="custom-shape-divider-top-1707660111">
		<svg
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 120"
			preserveAspectRatio="none"
		>
			<path d="M1200 0L0 0 1200.25 114.72 1200 0z" class="shape-fill"></path>
		</svg>
	</div>
	<div class="custom-shape-divider-top-1707660161">
		<svg
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1200 120"
			preserveAspectRatio="none"
		>
			<path d="M1200 0L0 0 1200.25 114.72 1200 0z" class="shape-fill"></path>
		</svg>
	</div>
	<div class="bg-white">
		<div class="mx-auto max-w-7xl py-24">
			<div class="mt-12">
				<h2
					class="text-center text-xl font-bold tracking-wide text-primary-500 lg:text-2xl"
				>
					Evcil Hayvanınızın Her İhtiyacına Bir Cevabımız Var!
				</h2>
				<div class="mx-auto mt-6 h-[5px] w-full max-w-[600px] bg-second-500"></div>

				<div
					class="mx-auto mt-12 grid w-full max-w-4xl justify-center justify-items-center gap-9 lg:grid-cols-3"
				>
					<a
						href="/hizmetlerimiz/teshis"
						class="relative h-min w-min rounded-full border-[12px] border-white drop-shadow-md transition-colors duration-300 ease-in-out hover:border-second-500"
					>
						<div
							class="pet-wellness flex h-[200px] w-[200px] items-center justify-center rounded-full"
						>
							<h3 class="z-10 text-lg font-bold tracking-wide text-white">Genel bakım</h3>
						</div>
					</a>

					<a
						href="/hizmetlerimiz/detertaj"
						class="relative h-min w-min rounded-full border-[12px] border-white drop-shadow-md transition-colors duration-300 ease-in-out hover:border-second-500"
					>
						<div
							class="pet-dentistry flex h-[200px] w-[200px] items-center justify-center rounded-full"
						>
							<h3 class="z-10 text-lg font-bold tracking-wide text-white">Ağız bakımı</h3>
						</div>
					</a>
					<a
						href="/hizmetlerimiz/cerrahi"
						class="relative h-min w-min rounded-full border-[12px] border-white drop-shadow-md transition-colors duration-300 ease-in-out hover:border-second-500"
					>
						<div
							class="pet-surgery flex h-[200px] w-[200px] items-center justify-center rounded-full"
						>
							<h3 class="z-10 text-lg font-bold tracking-wide text-white">Cerrahi</h3>
						</div>
					</a>
				</div>

				<div>
					<a
						href="/hizmetlerimiz"
						class="mx-auto mt-12 block text-center text-xl font-bold tracking-wide text-primary-500 underline decoration-second-500 underline-offset-8 transition-all duration-300 ease-in-out hover:decoration-primary-500 mdMax:px-3"
					>
						Tüm Hizmetlerimize Göz Atın
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.custom-shape-divider-top-1707660111 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		z-index: 1;
	}

	.custom-shape-divider-top-1707660111 svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 50px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-top-1707660111 .shape-fill {
		fill: #002a5c;
	}

	.custom-shape-divider-top-1707660161 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		z-index: 0;
	}

	.custom-shape-divider-top-1707660161 svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 70px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-top-1707660161 .shape-fill {
		fill: #01b2a0;
	}
	.pet-wellness {
		background-image: linear-gradient(180deg, rgba(0, 42, 92, 0.9) 0%, rgba(0, 42, 92, 0.9) 100%),
			url('/assets/images/background/pet-bakimi.png');
		background-color: #002a5c;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100% 100% 100% 100%;
	}

	.pet-dentistry {
		background-image: linear-gradient(180deg, rgba(0, 42, 92, 0.9) 0%, rgba(0, 42, 92, 0.9) 100%),
			url('/assets/images/background/pet-dentistry.png');
		background-color: #002a5c;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100% 100% 100% 100%;
	}

	.pet-surgery {
		background-image: linear-gradient(180deg, rgba(0, 42, 92, 0.9) 0%, rgba(0, 42, 92, 0.9) 100%),
			url('/assets/images/background/pet-surgery.png');
		background-color: #002a5c;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100% 100% 100% 100%;
	}
</style>
